.container{
    padding-top: 30px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}
.inner {
    align-self: center;
    width: 400px;
}
.row{
    margin: auto;
}
.title{
    width: fit-content;
    margin: auto;
    align-self: center;
    padding: 20px 0px 20px 0px;
}
.data{
    width: fit-content;
    margin: auto;
    align-self: center;
    padding: 10px 0px 10px 0px;
}
.form{
    margin: auto;
    width: 100%;
}
.title-label{
    font-size: 22px;
    text-align: left;
    font-family: "Lato-Medium";
}
.title-label-2{
    font-size: 18px;
    text-align: left;
    font-family: "Lato-Medium";
}
.text-label{
    font-size: 14px;
    text-align: left;
    font-family: "Lato-Medium";
}

